* {
    bg-col:      #1e1e2eE6;
    bg-col-dark: #11111bB3;
    bg-col-light: #31324480;

    border-col:  #cba6f7;
    magenta:     #f5c2e7;
    text-col:    #cdd6f4;

    background-color: transparent;
    text-color:       @text-col;
    font:             "JetBrains Mono NF 11";
}

window {
    width:            90%;
    height:           85%;
    background-color: @bg-col;
    border:           3px solid;
    border-color:     @border-col;
    border-radius:    24px;
    padding:          0px;
}

mainbox {
    background-color: transparent;
    children:         [ inputbar, listview ];
    spacing:          0px;
}

inputbar {
    background-color: @bg-col-dark;
    border:           0px 0px 3px 0px;
    border-color:     @magenta;
    border-radius:    21px 21px 0px 0px;
    padding:          25px;
    spacing:          15px;
    children:         [ prompt, entry ];
}

prompt {
    background-color: @magenta;
    text-color:       #11111b;
    padding:          8px 20px;
    border-radius:    12px;
    font:             "JetBrains Mono Bold 11";
}

entry {
    placeholder:      "󰍉 Search Wallpaper";
    placeholder-color: #6c7086;
    vertical-align:   0.5;
}

listview {
    padding:          25px;
    spacing:          20px;
    columns:          4;
    lines:            10;
    scrollbar:        false;
}

element {
    background-color: @bg-col-light;
    border-radius:    16px;
    padding:          15px;
    orientation:      vertical;
    border:           1px solid;
    border-color:     #45475a80;
}

element selected.normal {
    background-color: #45475aB3;
    text-color:       @magenta;
    border:           2px solid;
    border-color:     @magenta;
}

element-icon {
    size:             160px;
    horizontal-align: 0.5;
    background-color: transparent;
}

element-text {
    text-color:       inherit;
    font:             "JetBrains Mono Medium 10";
    horizontal-align: 0.5;
    padding:          10px 0px 0px 0px;
}
