/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #E3A8B8;
@define-color background #0D0E0F;
@define-color foreground #F9F8EA;
@define-color color0  #38393A;
@define-color color1  #706D7D;
@define-color color2  #AD6581;
@define-color color3  #917866;
@define-color color4  #4895A5;
@define-color color5  #9E99A7;
@define-color color6  #B3B192;
@define-color color7  #EFEDD9;
@define-color color8  #A7A698;
@define-color color9  #827E93;
@define-color color10 #CD5885;
@define-color color11 #B18C72;
@define-color color12 #60C6DC;
@define-color color13 #D3CCDE;
@define-color color14 #EFECC3;
@define-color color15 #EFEDD9;
