/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #9CA88F;
@define-color background #191819;
@define-color foreground #F8FAFB;
@define-color color0  #444344;
@define-color color1  #4C4A4C;
@define-color color2  #5F6C4D;
@define-color color3  #5070BF;
@define-color color4  #768C48;
@define-color color5  #6E87B8;
@define-color color6  #B0B4B7;
@define-color color7  #ECEFF1;
@define-color color8  #A6A7A9;
@define-color color9  #524F52;
@define-color color10 #6B7C54;
@define-color color11 #4E7CEA;
@define-color color12 #749728;
@define-color color13 #89ABF1;
@define-color color14 #EBF0F4;
@define-color color15 #ECEFF1;
