$bg-color: #0a0a16;
$cyan: #00f2ff;
$magenta: #ff00ff;
$dark-blue: #1a1a2e;
window {
    background-color: rgba(0,0,0,0);
    background: none;
}

.powermenu-overlay {
    background-color: rgba(0,0,0,0);
    background: none;
}

.powermenu-bg {
    background-color: #0a0a16; // Ton menu, lui, reste opaque
    border: 2px solid #1a1a2e;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
button {
  font-size: 40px;
  background: none;
  border-radius: 15px;
  color: white;
  transition: all 0.3s ease;
  
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.btn-power:hover  { color: #ff4b4b; text-shadow: 0 0 10px #ff4b4b; }
.btn-reboot:hover { 
    color: $cyan; 
    text-shadow: 0 0 15px $cyan; 
    background: linear-gradient(135deg, rgba(0,242,255,0.1), transparent);
}
.btn-logout:hover { color: $magenta; text-shadow: 0 0 15px $magenta; }
.btn-niri:hover   { color: $cyan; text-shadow: 0 0 15px $cyan; }

button:hover {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: inset 0 0 10px rgba(0, 242, 255, 0.1);
}
